* {
	margin: 0;
	padding: 0;
} 
body {
	max-width: 1118px;
  margin: 0 auto;
}
#wrapper {
	min-height: 100%;
	margin: 0px auto;
}
#topnav {
  width: 100%;
	height: 75px;
	top: 0px;
	position: fixed;
	background-color: rgba(255,255,255,0.97);
	max-width: 1118px;
  z-index: 1000;
}
#menu {
	list-style-type: none;
	text-align: right;
	margin-top: 20px;
  float: right;
}
#menu li {
	display: inline;
	padding: 5px 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1em;
}
#menu li a {
	text-decoration: none;
	color: black;
}
#menu li a:hover {
	color: #fd7475;      
}
#logo {
    float: left;
    margin-top: 17px;
    font-size: 1.5em;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    letter-spacing: 3px;    
}
#logo:hover {
    color: #B3CCCC;
}
header {
    box-sizing: content-box;
    background-color: #fd7475;
    clear: both;
    float: left;
    padding-left: 4%;
    padding-right: 50%;
    padding-top: 3%;
    padding-bottom: 4%;
    margin-top: 75px;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 3em;
    color: #ffffff;
}
h2 {
    font-family: 'DIN Condensed', sans-serif;
    font-weight: 700;
    font-size: 3em;
    color: black;
}
h3 {
    font-family:'Oswald', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    color: #000000;
}
h4 {
    font-family:'Oswald', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    color: #ffffff;
}
h5 {
	  font-family:'Oswald', sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: #ffffff;
}
h6 {
	  font-family:'Oswald', sans-serif;
    font-size: 0.875em;
    font-weight: 300;
    color: #ffffff;
}
p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: black;
    line-height: 1.4em
}
a {
	  font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.4em;
		text-decoration: none;
    color: #B3CCCC;
}
a:hover {
	 color: #fd7475;
}
.main {
    text-align: center;
    max-width: 1080px; /* (200+(20x2))x3 */
    font-size: 0; /* fix for white space bug */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.project1 {
    vertical-align: top;
  	display: inline-block;
    margin: 20px;
	  margin-top: 50px;
    font-size: 16px;
	  height: 300px;
	  width: 300px;
	  background-color: #ffffff;
}
.project1 > a{
    width: 300px;
    margin: 0 auto;
}
.project1:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.projectdescription {
    height: 40px;
    text-overflow : ellipsis;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    color: black;
}
.ommig {
    margin-top: 110px;
    width: 60%;
    float: left;
    margin-bottom: 50px;
}
.profilepicture {
    float: right;
    margin-top: 8%;
    margin-right: 40px;
}
.indhold {
    margin-top: 120px;
	  margin-bottom: 50px;
    width: 60%;
    float: left;
}
aside {
    width: 30%;
    background-color: #fd7475;
    float: right;
	  margin-top: 125px;
	  padding: 15px;
}
#responsive {
	  max-width: 100%;
	  margin-left: 297px;
}
#imgrb {
	  display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
#imgsf {
	  display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
	  margin-top: 50px;
    margin-bottom: 100px;
}
footer {
    float: left;
    width: 100%;
    border-top: 1px solid #B3CCCC;
}
#kontakt {
    margin-top: 25px;
    margin-bottom: 30px;
    width: 150px;
}
adress {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    color: black;
}
adress a {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: #B3CCCC;
}
adress a:hover {
	  color: #fd7475;
}
#social {
    width: auto;
    float: right;
    margin-top: -9%
}

@media screen and (max-width: 600px) {
	
/* Rabarberbaldet */
h1 {
		font-size: 2em;
	}
#logo {
	margin-left: 10px;
	}
.indhold {
	width: 100%;
	margin-bottom: -60px;
	margin-left: 10px;
	}
aside {
	width: 96%;
	padding: 10px;
	}
#imgrb {
		width: 100%;
	}
#responsive {
	  width: 100%;
		display: block;
    margin-left: auto;
    margin-right: auto;
}
#kontakt {
	margin-left: 10px;
	}
#social {
  margin-top: -90px;
	margin-right: 10px;
    
}
}